@media (min-width: 768px) {
  #hero {
    background: url("../../assets/img/Wave%205%201.svg") no-repeat;
    background-size: cover;
  }
}

@media (min-width: 420px) {
  #ga-nav {
    padding-left: 5%;
    padding-right: 5%;
  }
}

@media (min-width: 768px) {
  #Introduction {
    margin-left: 5%;
  }
}

@media (min-width: 768px) {
  #Follow1 {
    margin-left: 5%;
    padding-right: 10%;
  }
}

@media (max-width: 767.5px) {
  #Follow1 {
    padding: 5%;
  }
}

