body {
  --bs-body-color: #ffffff;
  --bs-body-bg: #000000;
  --bs-success: #20c997;
  --bs-success-rgb: 32,201,151;
  font-family: Montserrat, sans-serif;
}

@media (max-width: 480px) {
  #logo {
    max-height: 36px;
  }
}

@media (min-width: 480px) {
  #logo {
    max-height: 44px;
    /*padding-left: 24px;*/
  }
}

@media (min-width: 768px) {
  #main-nav {
    width: 90%;
  }
}

@media (min-width: 576px) {
  #Introduction {
    max-width: 90%;
  }
}

#Intro-Paragraph {
  font-weight: 500;
}

@media (min-width: 576px) {
  #Follow {
    max-width: 90%;
  }
}

@media (min-width: 576px) {
  #Event {
    max-width: 1080px;
  }
}

.btn {
  font-weight: 500;
}

#event-pg {
  font-weight: 500;
}

@media (min-width: 992px) {
  #Resources {
    background: url("../../assets/img/CoverEarth.png");
  }
}

@media (min-width: 992px) {
  #rcard {
    padding-left: 24px;
  }
}

